version: '3'
services:
  postgres:
    image: 'postgres:latest'
    environment:
      - POSTGRES_PASSWORD=postgres_password
  redis:
    image: 'redis:latest'
  nginx:
    image: 'hwxy233/multi-nginx'
    mem_limit: 128m
    hostname: nginx
    depends_on:
      - api
      - client
    restart: always
    ports:
      - '3050:80'
  api:
    image: 'hwxy233/multi-server'
    mem_limit: 128m
    hostname: api
    volumes:
      - /app/node_modules
      - ./server:/app
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - PGUSER=postgres
      - PGHOST=postgres
      - PGDATABASE=postgres
      - PGPASSWORD=postgres_password
      - PGPORT=5432
  client:
    image: 'hwxy233/multi-client'
    mem_limit: 128m
    hostname: client
    volumes:
      - /app/node_modules
      - ./client:/app
    environment:
      - WDS_SOCKET_PORT=0
  worker:
    image: 'hwxy233/multi-worker'
    mem_limit: 128m
    hostname: worker
    volumes:
      - /app/node_modules
      - ./worker:/app
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
