name: Docker

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  push:
    branches: [ "feature-test" ]
  pull_request:
    branches: [ "master-test" ]

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}


jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and export to Docker
        uses: docker/build-push-action@v4
        with:
          context: ./client
          # use full file path, default is {context}/Dockerfile, but I don't use the default one.
          file: ./client/Dockerfile.dev
          load: true
          tags: hwxy233/multi-client:test
      -
        name: Test
        run: | 
          docker run -e CI=true --rm hwxy233/multi-client:test npm test
      -
        name: Build and push multi-client
        uses: docker/build-push-action@v4
        with:
          context: ./client
          push: true
          tags: |
            hwxy233/multi-client:latest
            hwxy233/multi-client:${{ github.sha }}
      -
        name: Build and push multi-nginx
        uses: docker/build-push-action@v4
        with:
          context: ./nginx
          push: true
          tags: |
            hwxy233/multi-nginx:latest
            hwxy233/multi-nginx:${{ github.sha }}
      -
        name: Build and push multi-server
        uses: docker/build-push-action@v4
        with:
          context: ./server
          push: true
          tags: |
            hwxy233/multi-server:latest
            hwxy233/multi-server:${{ github.sha }}
      -
        name: Build and push multi-worker
        uses: docker/build-push-action@v4
        with:
          context: ./worker
          push: true
          tags: |
            hwxy233/multi-worker:latest
            hwxy233/multi-worker:${{ github.sha }}